 <div class="box col-md-12">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Bboy in China</h1>
      <p class="slogan">Dance listing 是一个可以找寻附近专职霹雳舞的舞蹈老师
        <br>
        我们希望借由这个网站，能让大家离开地球表面。
        <br>
        努力对抗地心引力吧！
      </p>
      <p class="lead">
        <%= link_to '立即寻找', jobs_path, class: 'btn btn-danger btn-lg' %>
      </p>
    </div>
  </div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">沙滩</h2>
        <p class="lead">当你尝试离开地表，成为在海边的焦点吧！</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">桌子</h2>
        <p class="lead">如果你想拍出漂亮照片，桌子是最佳配角</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">高山</h2>
        <p class="lead">当然，你也可以挑战在高山挑战离开地球表面的极限</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
